.showcase {
  margin: 160px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.photo {
  position: relative;
}
.first_p {
  text-transform: uppercase;
}
.image {
  position: relative;
}
.name {
  position: absolute;
  left: 19%;
  top: -51px;
  width: 100%;
  text-transform: capitalize;
  font-size: 67px;
  font-family: "Allura";
  font-weight: Bold;
  color: #a6a6a6;
}
.showcase .head {
  font-size: 72px;
  color: #00665d;
}
.showcase .content {
  width: 45%;
  display: grid;
  justify-items: start;
  gap: 10px;
}
.us {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.us .bg {
  width: 100%;
  height: 240px;
  background-color: #00665d;
  transform-origin: top left;
  transform: rotate(-1deg) translateX(-1%);
  overflow: hidden;
  z-index: -1;
  margin-top: 50px;
}
.us .content {
  position: absolute;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 260px;
  text-align: center;
  padding-top: 50px;
}
.us .content .head {
  font-size: 30px;
}

@media (max-width: 768px) {
  .us .content {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .us .bg {
    width: 100%;
    height: 400px;
    background-color: #00665d;
    transform-origin: top left;
    transform: rotate(-1deg) translateX(-1%);
    overflow: hidden;
    z-index: -1;
    margin-top: 50px;
  }
  .name {
    display: none;
  }
}
