body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eef0f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Dosis", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .timeline {
  transition: all ease-out 40ms;
  transform: translateY(150px);
  opacity: 0;
  visibility: hidden;
}

.show {
  transition: all ease-out 40ms;
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
} */
.timeline {
  visibility: hidden;
  transition: transform 400ms ease-out;
  opacity: 0;
  transform: translateY(80px);
}
.timeline2 {
  visibility: hidden;
  transition: transform 100ms ease-out;
  opacity: 0;
  transform: translateY(80px);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  transition: transform 0.3s ease-out;
}
